*.csv
*.txt
!requirements.txt
*.xlsx
*.json

app_backup_23-03.py
backup.py
backup2.py
backup_main_all.py
column_type.py
ex.py
format_date.py
list_files.py
main.py
main_all.py
support.py
test.py
test_semantica.py
transform_data_backup.py
transform_data_backup2.py
transform_data_backup_23-03.py
validate_data.py

.idea
Backup
Backup_final
.DS_Store